{{>header}}
</head>
<body>
{{>navBar}}

<div class="product-details">
    {{#product}}
    <h2>{{name}}</h2>
    <div class="product-info">
        <p>ID: <span>{{id}}</span></p>
        <p>Descriptcion: <span>{{description}}</span></p>
        <p>Precip: <span>{{price}}</span></p>
        <p>Categoria: <span>{{category.name}}</span></p>
        {{#image}}
              <img src="/products/{{id}}/image" class="card-img-top img-thumbnail" alt="{{name}}" style="height: 200px; object-fit: contain;">
        {{/image}}
    </div>
    {{/product}}
    {{^product}}
    <p>Product not found</p>
    {{/product}}
</div>

<a href="/products">Volver a Productos</a>

{{>footer}}