
{{>header}}
</head>
<body class="bg-light">
{{>navBar}}

<div class="container my-5">
  <div class="d-flex justify-content mt-3">
    {{#isAdmin}}
    <a class="btn btn-primary" href="/users" role="button">VOLVER</a>
    {{/isAdmin}}
    {{^isAdmin}}
    <a class="btn btn-primary" href="/user" role="button">VOLVER</a>
    {{/isAdmin}}
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm p-4">
        <h2 class="mb-3 text-center text-primary">Editar Usuario</h2>
        <form action="/users/edit" method="post">
          <input type="hidden" name="id" value="{{user.id}}">

          <div class="mb-3">
            <label for="firstName" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.firstName}}" required>
          </div>

          <div class="mb-3">
            <label for="surName" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="surName" name="surName" value="{{user.surName}}" required>
          </div>

          <div class="mb-3">
            <label for="userName" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="userName" name="userName" value="{{user.userName}}" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña (déjelo en blanco si no quiere cambiarla):</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Teléfono:</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{#user.phone}}{{user.phone}}{{/user.phone}}">
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="address" name="address" value="{{#user.address}}{{user.address}}{{/user.address}}">
          </div>

          <button type="submit" class="btn btn-success w-100">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{>footer}}
