{{>header}}
</head>
<body>
{{>navBar}}

<div class="container my-5">
  <div class="d-flex justify-content mt-3">
    <a class="btn btn-primary" href="/static" role="button">VOLVER</a>
  </div>
  <h1 class="mb-4 text-center">Lista de Usuarios</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      {{#users}}
      <tr>
        <td>{{id}}</td>
        <td>{{userName}}</td>
        <td>{{email}}</td>
        <td>{{#address}}{{address}}{{/address}}</td>
        <td>{{#phone}}{{phone}}{{/phone}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm" href="/users/{{id}}/shoppingCar/history/">Carrito</a>
          <a class="btn btn-outline-secondary btn-sm" href="/users/edit?id={{id}}">Editar</a>
          <a class="btn btn-outline-danger btn-sm" href="/user/delete?id={{id}}">Eliminar</a>
        </td>
      </tr>
      {{/users}}
      </tbody>
    </table>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-end mt-3">
    <a class="btn btn-primary btn-sm" href="/users/add">Añadir Usuario</a>
  </div>
</div>



{{>footer}}
