{{>header}}
</head>
<body class="bg-light">
{{>navBar}}

<div class="container my-5">
    <div class="d-flex justify-content mt-3">
        <a class="btn btn-primary" href="/categories" role="button">VOLVER</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="mb-3 text-center text-primary">Editar Categoría</h2>
                <form action="/categories/edit" method="post">
                    <input type="hidden" name="categoryId" value="{{category.id}}">

                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Nombre de la categoría:</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" value="{{category.name}}" required>
                    </div>

                    <div class="mb-3">
                        <label for="categoryDescription" class="form-label">Descripción de la categoría:</label>
                        <input type="text" class="form-control" id="categoryDescription" name="categoryDescription" value="{{category.description}}" required>
                    </div>

                    <button type="submit" class="btn btn-rimary w-100">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{>footer}}
