
{{>header}}
</head>
<body>
{{>navBar}}

<div class="container my-5">
    <h1 class="mb-4 text-center">Lista de Categorías</h1>
    <div class="list-group mb-4">
        {{#categories}}
        <div class="d-flex justify-content-between align-items-center list-group-item">
            <a href="categories/{{id}}" class="text-decoration-none flex-grow-1">{{name}}</a>
            <a href="/categories/edit?categoryId={{id}}" class="btn btn-outline-secondary btn-sm ms-2">Editar</a>
        </div>
        {{/categories}}
    </div>

    <div class="card shadow p-4 mb-4">
        <h2 class="mb-3">Agregar Nueva Categoría</h2>
        <form action="/categories/add" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="categoryName" placeholder="Nombre de la categoría" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Agregar</button>
        </form>
    </div>

    <div class="card shadow p-4">
        <h2 class="mb-3">Eliminar Categoría</h2>
        <form action="/categories/delete" method="post">
            <div class="mb-3">
                <label for="categoryId" class="form-label">Selecciona una categoría:</label>
                <select class="form-select" name="categoryId" id="categoryId" required>
                    <option value="" disabled selected>Selecciona una categoría</option>
                    {{#categories}}
                    <option value="{{id}}">{{name}}</option>
                    {{/categories}}
                </select>
            </div>
            <button type="submit" class="btn btn-danger w-100">Eliminar</button>
        </form>
    </div>
</div>

{{>footer}}
