<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



    <!-- CSS de Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Content Security Policy de Quill -->
<!--    <meta http-equiv="Content-Security-Policy"
          content="
        default-src 'self';
        script-src 'self' https://cdn.quilljs.com;
        style-src 'self' https://cdn.quilljs.com;
        img-src 'self' data:;
      ">-->


<!--
</head>
<body>
</body>
</html>
-->
