<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Categorías</title>
</head>
<body>
<h1>Categorías Disponibles</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
    </tr>
    </tbody>
</table>

<h2>Añadir Nueva Categoría</h2>
<form action="/categories/add" method="post">
    <input type="number" name="id" placeholder="ID de la Categoría" required>
    <input type="text" name="name" placeholder="Nombre de la Categoría" required>
    <button type="submit">Agregar</button>
</form>
</body>
</html>
