<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lista de Productos</title>
</head>

<body> -->

{{>header}}

<ul>
  {{#productsEachCategory}}
  <li>
    <h2>{{name}}</h2>
    <p>Descripción: <span>{{description}}</span></p>
    <p>Precio: <span>{{price}}</span></p>
    {{#image}}
    <div class="product-image">
      <img src="/images/{{.}}" alt="{{name}}" style="max-width: 200px;">
    </div>
    {{/image}}

    <form action="/products/{{id}}/delete" method="POST">
      <button type="submit">Eliminar producto</button>
    </form>


  <form action="/products/{{id}}/edit" method="GET" style="display: inline;">
  <button type="submit">Modificar producto</button>
  </form>

  </li>
  {{/productsEachCategory}}
  {{^productsEachCategory}}
  <p>No hay producto disponible</p>
  {{/productsEachCategory}}

</ul>

<a href="/products/add?selectedCategoryId={{selectedCategoryId}}&selectedCategoryName={{selectedCategoryName}}" class="button">Añadir Producto</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

{{>footer}}
<!-- </body>

</html> -->