{{>header}}

    <h1>2. Welcome to {{title}}</h1>

    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>


    <!--FORM-->
    <form method="post" action="shopingCar/add">
    <input type="text" name="idUser">


    <input type="submit" value="send">
    </form>

    <h2>List of Shoping Car</h2>
    <ul>
    {{#listShopingCar}}
        <li><p>ID: </p>{{id}}</li>
        <li><p>ID User: </p>{{idUser}}</li>
        <li><p>Products</p>
            {{#products}}
            <ul>
                <li>{{.}}</li>
            </ul>
            {{/products}}
        </li>
    {{/listShopingCar}}
        <br>
        <br>
    </ul>

{{>footer}}
