{{>header}}
</head>
<body>
{{>navBar}}

  <h1>Lista de usuarios</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
    </tr>
    {{#users}}
    <tr>
      <td>{{id}}</td>
      <td>{{userName}}</td>
      <td>{{email}}</td>
      <td>
        <a type="button"  title="Carrito" href="/shoppingCar">Carrito</a>

      </td>
    </tr>
    {{/users}}
  </table>

  <h2>Añadir nuevo usuario</h2>
  <form action="/users/add" method="get">
    <button type="submit">Añadir</button>
  </form>

  <h2>Eliminar usuario</h2>
  <form action="user/delete" method="post">
    <label for="userId">Selecciona un usuario para eliminar:</label>
    <select name="id" id="userId" required>
      <option value="userId" disabled selected>Selecciona un usuario para eliminar</option>
      {{#users}}
      <option value="{{id}}">{{userName}}</option>
      {{/users}}
    </select>
    <button type="submit">Eliminar</button>
  </form>

{{>footer}}