{{>header}}
</head>
<body>
{{>navBar}}

<div class="container my-5">
  <h1 class="mb-4 text-center">Lista de Usuarios</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      {{#users}}
      <tr>
        <td>{{id}}</td>
        <td>{{userName}}</td>
        <td>{{email}}</td>
        <td>{{#address}}{{address}}{{/address}}</td>
        <td>{{#phone}}{{phone}}{{/phone}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm" href="/shoppingCar">Carrito</a>
          <a class="btn btn-outline-secondary btn-sm" href="/users/edit?id={{id}}">Editar</a>
        </td>
      </tr>
      {{/users}}
      </tbody>
    </table>
  </div>
</div>

<div class="container my-5">
  <div class="card shadow p-4 mb-4">
    <h2 class="mb-3">Añadir Nuevo Usuario</h2>
    <form action="/users/add" method="get">
      <button type="submit" class="btn btn-success w-100">Añadir</button>
    </form>
  </div>

  <div class="card shadow p-4 mb-4">
    <h2 class="mb-3">Eliminar Usuario</h2>
    <form action="user/delete" method="post">
      <label for="userId" class="form-label">Selecciona un usuario para eliminar:</label>
      <select class="form-select" name="id" id="userId" required>
        <option value="" disabled selected>Selecciona un usuario</option>
        {{#users}}
        <option value="{{id}}">{{userName}}</option>
        {{/users}}
      </select>
      <button type="submit" class="btn btn-danger w-100 mt-3">Eliminar</button>
    </form>
  </div>
</div>



{{>footer}}
