{{>header}}

<head>
    <title>New Comment</title>
</head>

<body class="bg-light">
{{>navBar}}

<div class="container my-5">
    <div class="d-flex justify-content mt-3">
        <a class="btn btn-primary ms-3" href="/commentView/commentList" role="button">Ver Comentarios</a>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="mb-3 text-center text-primary">Añadir Comentario: {{product.name}}</h2>
                <form action="/commentView/add?productId={{product.id}}" method="post">
                    {{#isAdmin}}
                    <div class="mb-3">
                        <label for="userId" class="form-label">Usuario:</label>
                        <select id="userId" name="userId" class="form-select" required>
                            <option value="">Seleccione un usuario</option>
                            {{#users}}
                            <option value="{{id}}">{{userName}}</option> <!-- userName must be the same as the atributes or the getter methods without the get, but better in camelCase -->
                            {{/users}}
                        </select>
                    </div>
                    {{/isAdmin}}

                    {{^isAdmin}}
                    <input type="hidden" name="userId" value="{{currentUserId}}">
                    {{/isAdmin}}

                    <div class="mb-3">
                        <label for="commentTxt" class="form-label">Comentario:</label>
                        <textarea class="form-control" id="commentTxt" name="commentTxt" rows="3" required></textarea> <!-- name debe ser igual a lo que espera el controlador y el for y id que sean iguales también -->
                    </div>

                    <div class="mb-3">
                        <label for="rating" class="form-label">Calificación:</label>
                        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                    </div>

                    

                    <button type="submit" class="btn btn-primary w-100">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{>footer}}

</body>
