{{>header}}

<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<script type="text/javascript" src="/js/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>

    <title>New Comment</title>
</head>

<body class="bg-light">
{{>navBar}}

<div class="container my-5">

    <div class="container my-5">
        {{#isAdmin}}
        <div class="d-flex justify-content mt-3">
            <a class="btn btn-primary ms-3" href="/commentView/commentList" role="button">Ver Comentarios</a>
        </div>
        {{/isAdmin}}

        {{^isAdmin}}
        {{#isAuthenticated}}
        <div class="d-flex justify-content mt-3">
            <a class="btn btn-primary" href="/user" role="button">Ver comentarios</a>
        </div>
        {{/isAuthenticated}}
        {{/isAdmin}}
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h2 class="mb-3 text-center text-primary">Añadir Comentario: {{product.name}}</h2>
                <form id="CommentFormQJS" action="/commentView/add?productId={{product.id}}" method="post">
                    {{#isAdmin}}
                    <div class="mb-3">
                        <label for="userId" class="form-label">Usuario:</label>
                        <select id="userId" name="userId" class="form-select" required>
                            <option value="">Seleccione un usuario</option>
                            {{#users}}
                            <option value="{{id}}">{{userName}}</option> <!-- userName must be the same as the atributes or the getter methods without the get, but better in camelCase -->
                            {{/users}}
                        </select>
                    </div>
                    {{/isAdmin}}

                    {{^isAdmin}}
                    <input type="hidden" name="userId" value="{{currentUserId}}">
                    {{/isAdmin}}


                    <div class="mb-3">
                        <label for="editor" class="form-label">Comentario:</label>

                        <!-- Quill Container -->
                        <div id="editor" style="height: 200px; background: white;"></div>

                        <!-- Hidden field with the resultant HTML of Quill -->
                        <input type="hidden" id="contenido" name="commentTxt" required>
                    </div>
                    <!-- When doing the post request, the value of the hidden field will be the HTML content of the Quill editor, no the plaintext -->

                    <div class="mb-3">
                        <label for="rating" class="form-label">Calificación:</label>
                        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                    </div>

                    

                    <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="/js/quill.js"></script>-->


{{>footer}}


