<!DOCTYPE html>

<html lang="en">
<head>
    <title>Edit Comment</title>
{{>header}}
</head>

<body>
{{>navBar}}

<div class="container my-5">
  <div class="d-flex justify-content mt-3">
    <a class="btn btn-primary" href="/commentView/comments" role="button">VOLVER</a> <!-- REVISAR ESTO -->
  </div>

  <h1 class="mb-4 text-center">Editar Comentario</h1>

  <div class="card shadow p-4">
    <form action="/commentView/edit/{{comment.id}}" method="post">
      <div class="mb-3">
        <label for="text" class="form-label">Texto:</label>
        <input type="text" id="text" name="text" class="form-control" value="{{comment.comment}}" required>
      </div>

      <div class="mb-3">
        <label for="rating" class="form-label">Calificación:</label>
        <input type="number" id="rating" name="rating" class="form-control" value="{{comment.rating}}" required>
      </div>

      <div class="mb-3">
        <label for="user" class="form-label">Usuario:</label>
        <input type="text" id="user" name="user" class="form-control" value="{{comment.user.name}}" required>
      </div>

      <button type="submit" class="btn btn-success w-100">Actualizar</button>
    </form>
  </div>
</div>

{{>footer}}

</body>
</html>