<!DOCTYPE html>

<html lang="en">
<head>
    <title>Edit Comment</title>
{{>header}}
</head>

<body>
{{>navBar}}

<div class="container my-5">

  <div class="container my-5">
    {{#isAdmin}}
    <div class="d-flex justify-content mt-3">
      <a class="btn btn-primary" href="/commentView/commentList" role="button">VOLVER</a>
    </div>
    {{/isAdmin}}

    {{^isAdmin}}
    {{#isAuthenticated}}
    <div class="d-flex justify-content mt-3">
      <a class="btn btn-primary" href="/products" role="button">VOLVER</a>
    </div>
    {{/isAuthenticated}}
    {{/isAdmin}}
  </div>

  <h1 class="mb-4 text-center">Editar Comentario</h1>

  <div class="card shadow p-4">
    <form action="/commentView/edit/{{comment.id}}" method="post">

      <div class="mb-3">
        <label for="user" class="form-label">Usuario:</label>
        <input type="text" id="user" name="userName" class="form-control" value="{{comment.user.userName}}" readonly>
      </div>


      <div class="mb-3">
        <label for="editor" class="form-label">Comentario editado:</label>

        <!-- Quill Container -->
        <div id="editor" style="height: 200px; background: white;"></div>

        <!-- Hidden field with the resultant HTML of Quill -->
        <input type="hidden" id="contenido" name="comment" required>
      </div>
      <!-- When doing the post request, the value of the hidden field will be the HTML content of the Quill editor, no the plaintext -->

      <div class="mb-3">
        <label for="rating" class="form-label">Nueva Calificación:</label>
        <input type="number" id="rating" name="rating" class="form-control" value="{{comment.rating}}" required>
      </div>

      <button type="submit" class="btn btn-success w-100">Actualizar</button>
    </form>
  </div>
</div>

{{>footer}}

</body>
</html>